.score {
   &__content {
      display: flex;
      flex-direction: column;
      padding-top: 190px;
      padding-left: 340px;

      @media (max-width: 1250px) {
         padding-left: 100px;
         padding-top: 50px;
      }

      @media (max-width: 767px) {
         padding-left: 16px;
      }

      &-text {
         max-width: 490px;
         font-size: 14px;
         line-height: 20px;
         font-weight: normal;
         color: #494949;

         @media (max-width: 990px) {
            font-size: 10px;
            max-width: 290px;
         }

         @media (max-width: 767px) {
            font-size: 14px;
            line-height: 20px;
            max-width: 290px;
         }
      }
   }

   h1 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      max-width: 380px;
      letter-spacing: -0.4px;

      @media (max-width: 767px) {
         font-size: 28px;
         line-height: 36px;
      }
   }
   span {
      display: flex;
      justify-content: space-between;
      max-width: 1115px;

      @media (max-width: 916px) {
         flex-direction: column;
      }

      @media (max-width: 767px) {
         margin-top: 500px;
      }
   }
   a {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      text-decoration: none;
      margin-top: 30px;

      background: url(../../assets/images/pdf.png) no-repeat left center;
      padding-left: 37px;

      @media (max-width: 990px) {
         font-size: 12px;
      }
   }
   h3 {
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      max-width: 378px;
      color: #494949;
   }

   p {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #494949;
      margin-top: 83px;

      @media (max-width: 767px) {
         display: none;
      }
   }
}

.diagram {
   padding-left: 750px;
   margin-top: -700px;

   @media (max-width: 1567px) {
      padding-left: 650px;
   }

   @media (max-width: 1475px) {
   }

   @media (max-width: 1250px) {
      margin-left: -150px;
   }

   @media (max-width: 1068px) {
      margin-left: -300px;
   }

   @media (max-width: 915px) {
      display: none;
   }

   @media (max-width: 767px) {
      display: block;
      margin-left: -650px;
      margin-top: -660px;
   }

   &__content {
      display: flex;
   }

   &__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 47px;

      @media (max-width: 1475px) {
         margin-left: 17px;
      }

      @media (max-width: 767px) {
         margin-left: 8px;
      }

      &-percent {
         font-weight: bold;
         font-size: 24px;
         line-height: 32px;
         color: #428b26;
         max-width: 80px;
         flex-wrap: nowrap;
         margin-bottom: 34px;

         @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
         }
      }
      &-block {
         background: linear-gradient(180deg, #c4e4b9 0%, #8ac974 100%);
         border-radius: 16px;
         width: 96px;
         height: 96px;
         font-weight: bold;
         font-size: 24px;
         line-height: 32px;
         color: #31681d;
         display: flex;
         justify-content: center;
         align-items: center;

         @media (max-width: 1475px) {
            width: 66px;
         }

         @media (max-width: 767px) {
            font-size: 16px;
            line-height: 32px;
            width: 49px;
         }

         &.block-two {
            height: 174px;
         }
         &.block-three {
            height: 254px;
         }
         &.block-four {
            height: 324px;
         }
         &.block-five {
            height: 384px;
         }
      }
      &-num {
         font-weight: bold;
         font-size: 24px;
         line-height: 32px;
         color: #494949;
         max-width: 97px;
         padding-top: 30px;

         @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
            width: 65px;
         }

         &.num-two {
            margin-bottom: 76px;
         }
         &.num-three {
            margin-bottom: 158px;
         }
         &.num-four {
            margin-bottom: 228px;
         }
         &.num-five {
            margin-bottom: 288px;
         }
      }
   }
}
