.rate {
   margin-left: 338px;
   margin-top: 20px;
   max-width: 1121px;

   @media (max-width: 1250px) {
      font-size: 28px;
      margin-left: 100px;
   }

   
          @media (max-width: 767px) {
    margin-left: 16px;
   }

   h1 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;

          @media (max-width: 767px) {
    font-size:28px;
    line-height: 36px;
   }

   }
   &__row {
      display: flex;
      justify-content: space-between;
      flex: 33.3333%;

      @media (max-width: 1250px) {
         align-items: center;
         flex-wrap: wrap;
      }

      @media (max-width: 767px) {
         padding-left: 0;
      }
   }
   &__col {
      display: flex;
      flex-direction: column;
      &-ico {
         max-width: 73px;
         max-height: 67px;
         position: absolute;
         margin-top: 240px;

         @media (max-width: 1250px) {
            margin-top: 251px;
         }
      }
      &-num {
         color: #c2d1d9;
         opacity: 0.3;
         font-size: 300px;
         margin-left: 50px;

         @media (max-width: 1250px) {
            font-size: 200px;
         }
      }

      &-text {
         max-width: 140px !important;
      }
      h3 {
         font-weight: bold;
         font-size: 24px;
         line-height: 32px;
         max-width: 295px;
         margin-top: -90px;

         @media (max-width: 1250px) {
            margin-top: -62px;
         }
      }

      p {
         font-weight: normal;
         font-size: 16px;
         line-height: 24px;
         max-width: 304px;

         span {
            color: #428b26;
            font-weight: 700;
         }
      }
   }
}
