.rate {
   margin-top: 20px;

   @media (max-width: 767px) {
      padding-left: 0;
      padding-left: 16px;
   }

   @media (max-width: 450px) {
      padding-left: 0px;
   }

   h1 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;

      @media (max-width: 767px) {
         font-size: 28px;
         line-height: 36px;
      }
   }
   &__row {
      display: flex;
      justify-content: space-between;
      flex: 33.3333%;

      @media (max-width: 1250px) {
         align-items: center;
         flex-wrap: wrap;
      }
   }
   &__col {
      display: flex;
      flex-direction: column;

      &:nth-child(2) {
         padding: 0 20px;

         @media (max-width: 662px) {
            padding-left: 0;
         }
      }
      &:nth-child(1) {
         @media (max-width: 662px) {
            padding-right: 20px;
         }
      }

      &-ico {
         max-width: 73px;
         max-height: 67px;
         position: absolute;
         margin-top: 70px;
      }

      &-img {
         width: 96px;
         height: 148px;
         margin-left: 60px;
      }

      &-text {
         max-width: 140px !important;
      }
      h3 {
         font-weight: bold;
         font-size: 24px;
         line-height: 32px;
         max-width: 295px;
         margin-top: -10px;
      }

      p {
         font-weight: normal;
         font-size: 16px;
         line-height: 24px;
         max-width: 304px;
         margin-top: -5px;

         span {
            color: #428b26;
            font-weight: 700;
         }
      }
   }
}
