.question {
   padding-top: 135px;

   @media (max-width: 1250px) {
      padding-left: 100px;
   }

   @media (max-width: 767px) {
      padding-left: 16px;
      padding-top: 0;
   }

   @media (max-width: 450px) {
      padding-left: 0px;
   }

   &__content {
      display: flex;

      @media (max-width: 767px) {
         flex-direction: column;
      }

      &-col {
         display: flex;
         flex-direction: column;
         padding-left: 210px;

         @media (max-width: 990px) {
            padding-left: 50px;
         }

         @media (max-width: 767px) {
            padding-left: 0;
         }
      }
      h1 {
         font-weight: 800;
         font-size: 40px;
         line-height: 48px;
         letter-spacing: -0.4px;
         max-width: 181px;

         @media (max-width: 990px) {
            font-size: 30px;
         }

         @media (max-width: 767px) {
            font-size: 28px;
            line-height: 36px;
         }
      }
      p {
         font-weight: bold;
         font-size: 20px;
         line-height: 28px;
         color: #151617;
         max-width: 672px;
         background: url(../../assets/images/up.svg) no-repeat right center;
         padding-right: 47px;
         cursor: pointer;

         @media (max-width: 990px) {
            padding-right: 17px;
            font-size: 16px;
         }
      }
   }
}

.deployQuestion__text {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #151617;
   max-width: 672px;
}
